*.jpg
*.pth
*.png
*.pth
*.csv
logs/
many_logs/
*.txt
Inpainting/events.out.tfevents.1578217969.DESKTOP-FLE2PSN
Inpainting/
Inpainting_train_allM1/
Inpainting_train_all/
*.tar
Writer/
*.svg
Inpainting_pizza9000.zip
